@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animación para el banner de inactividad */
@keyframes slide-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Animación para la barra de progreso */
@keyframes progress-bar {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.animate-slide-down {
  animation: slide-down 0.3s ease-out forwards;
}

.animate-progress-bar {
  animation: progress-bar 120s linear forwards;
}